.login-page{
    padding: 10px;
}

.icon{
    width: 20%;
    height: 20%;
}

.avatar {
    width: 70%;
    height: 80%;
}

.flex {
    display: flex;
    flex-direction: row;
}

.titulo {
    width: 70%;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 5%;
    padding-right: 0;
}

.chip {
    width: 25%;
    margin-right: 4%;
}